attrs==21.4.0
build==0.7.0
cffi==1.15.0
colorama==0.4.4
cryptography==37.0.2
Cython==0.29.30
dacite==1.6.0
decopatch==1.4.10
future==0.18.2
iniconfig==1.1.1
makefun==1.13.1
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
packaging==21.3
pdoc3==0.10.0
pep517==0.12.0
pip==22.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.8
PyYAML==6.0
setuptools==62.3.2
six==1.16.0
tomli==2.0.1
uuid==1.30
valid8==5.1.2
wheel==0.37.1
